<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet/less' type="text/css" href='/stylesheets/style.less' />
    <script src="/javascripts/less.min.js"></script>
  </head>
  <body>
    <div id="racingGame"></div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
